{% extends 'base.html' %}
{% load static %}
{% block title %}Training{% endblock %}
{% block body %}
<!-- Start Blog Area -->
<style>
    .date a {
        text-decoration: none; /* Remove underline from links */
    }
    .date a:hover {
        background: #0C4257;
        color: #000000;
    }
    .news-head img {
        width: 100%; /* Make sure the image takes up the full width of its container */
        height: 200px; /* Fixed height for uniformity */
        object-fit: cover; /* Ensure the image covers the container while maintaining aspect ratio */
    }
</style>

<section class="blog section" id="blog" style="background: #f9f9f9;">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section-title">
                    <h2>Providing a range of courses</h2>
							<img src="{% static 'img/logo2.png' %}" alt="#">
							<p>The best suggestions of courses saves you effort and time.</p>
                </div>
            </div>
        </div>

        <div class="row">
            {% for course in courses %}
                <div class="col-lg-4 col-md-6 col-12 mb-4">
                    <div class="single-news h-100">
                        <div class="news-head">
                            <img src="{{course.image.url}}" class="img-fluid" alt="img not found">
                        </div>
                        <div class="news-body">
                            <div class="news-content">
                                <h2>{{course.CourseName}}</h2>
                                <h5>{{training.TrainingCompany.first.CompanyName}}</h5>
                                <p class="text"> <a href="http://127.0.0.1:8000/path">{{course.Path.first}}</a></p>
                                <p class="text"><a href="http://127.0.0.1:8000/events">{{course.RelatedEvents.first}}</a></p>
                                <p class="text">{{course.author}}</p>
								<div class="date"><a href="{{course.link}}" target="_blank">View Course</a></div>
                                
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>

        {% if user.is_superuser %}
            <div class="text-center mt-4">
                <a class="btn btn-dark" href="{% url 'create_training' %}">Add Training</a>
            </div>
        {% endif %}
    </div>
</section>
{% endblock %}
