{% extends 'base.html' %}
{% load static %}


{% block body %}
{%  for course in courses %}
<div id = "course-{{course.id}}">

    <h4>{{course.CourseName}}</h4>
    <ul>
        {% for path in course.Path.all %}
        <li>
            {{path}}
        </li>
        {% endfor %}
        {% for event in course.RelatedEvents.all %}
        <li>{{event}}</li>
        {% endfor %}
    </ul>
    <button 
    hx-delete="courses/delete/{{course.id}}" 
    hx-target="#course-{{course.id}}"
    hx-swap="outerHTML"
    type="button"

    >Delete</button>
    {% endfor %}
</div>
{% endblock%}