{% extends 'base.html' %}
{% load static %}

{% block title %}
Events
      {% endblock %}
	<!-- <header class="container-fluid header-bg text-white text-center py-5">
        <h1 class="display-4">Events & Workshops</h1>
    </header> -->
{% block body %}

 <!-- Conferences Section -->
 <section class="container my-5">
     <!-- استخدم CSS Grid أو Flexbox لعرض المؤتمرات -->
     <div class="conference-card">
         <img src="img/conference1.jpg" alt="Conference Image">
         <h3>NSP Explore</h3>
         <p>Date: January 31, 2024</p>
         <p>Location: Tanta, Al Gharbia</p>
         <a href="#" class="btn btn-primary">Register</a>
        </div>
        
        <div class="conference-card">
            <img src="img/conference2.jpg" alt="Conference Image">
            <h3>DevFest</h3>
            <p>Date: February 25, 2024</p>
            <p>Location: Shibin-Elkom, Menoufia</p>
            <a href="#" class="btn btn-primary">Register</a>
        </div>
        
        <!-- أضف المزيد من البطاقات حسب الحاجة -->
    </section>
    
    <a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top"><i class="fa fa-angle-double-up"></i></a>
    
    
{% endblock %}
    


