<!-- Footer Start -->
    <footer>

            <div class="container-fluid bg-dark text-white-50 py-5 px-sm-3 px-lg-5" style="margin-top: 90px;">
                <div class="row pt-5">
                  <div class="col-lg-3 col-md-6 mb-5">
                       <a href="" class="navbar-brand">
                         <h1 class="text-primary"><span class="text-white">ITT</span>Helper</h1>
                        </a>
                       <p>You can contact us at any time to answer your inquiries and to provide the best services.</p>
                      <h6 class="text-white text-uppercase mt-4 mb-3" style="letter-spacing: 5px;">Follow Us</h6>
                      <div class="d-flex justify-content-start">
                            <a class="btn btn-outline-primary btn-square mr-2" href="https://www.facebook.com/profile.php?id=100090024653201&mibextid=ZbWKwL"><i class="fab fa-facebook-f"></i></a>
                           <a class="btn btn-outline-primary btn-square mr-2" href="https://www.linkedin.com/company/nsp-community/"><i class="fab fa-linkedin-in"></i></a>
                           <a class="btn btn-outline-primary btn-square mr-2" href="https://wa.me/qr/2US7ZRHCKJVCL1"><i class="fab fa-whatsapp"></i></a>
                        </div>
                    
                    </div>
             <div class="col-lg-3 col-md-6 mb-5">
                 <h5 class="text-white text-uppercase mb-4" style="letter-spacing: 5px;">Our Services</h5>
                    <div class="d-flex flex-column justify-content-start">
                        <a class="text-white-50 mb-2" href="{% url 'courses' %}"><i class="fa fa-angle-right mr-2"></i>Courses</a>                   
                        <a class="text-white-50 mb-2" href="{% url 'training' %}"><i class="fa fa-angle-right mr-2"></i>Training</a>
                        <a class="text-white-50 mb-2" href="{% url 'path' %}" ><i class="fa fa-angle-right mr-2"></i>Career Path</a>
					    <a class="text-white-50 mb-2" href="{% url 'employment' %}" ><i class="fa fa-angle-right mr-2"></i>Employment Market</a>
                    
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 mb-5">
                    <h5 class="text-white text-uppercase mb-4" style="letter-spacing: 5px;">Usefull Links</h5>
                    <div class="d-flex flex-column justify-content-start">
                        <a class="text-white-50 mb-2" href="{% url 'events' %}" > <i class="fa fa-angle-right mr-2"></i>Events & Workshops</a>
					    <a class="text-white-50 mb-2" href="{% url 'guides' %}" ><i class="fa fa-angle-right mr-2"></i>Guides for Interviews</a>
                        <a class="text-white-50 mb-2" href="{% url 'cv' %}"><i class="fa fa-angle-right mr-2"></i>Tips for CVs</a>
                    
                </div>
                    </div>
                <div class="col-lg-3 col-md-6 mb-5">
                    <h5 class="text-white text-uppercase mb-4" style="letter-spacing: 5px;">Contact Us</h5>
                 <p><i class="fa fa-map-marker-alt mr-2"></i>Shibin-Elkom</p>
                    <p><i class="fa fa-phone-alt mr-2"></i>+01021572715</p>
                    <p><i class="fa fa-envelope mr-2"></i>nspcommunity865@gmail.com</p>
                
                </div>
            </div>
        </div>
    </div>

</footer>