{% extends 'base.html' %}
{% load static %}
{% block title %}Home{% endblock %}
{% block body%}
	<!-- Slider Area -->
		<section class="slider">
				<!-- Start Single Slider -->
				<div class="single-slider" style="background-image: url('{% static 'img/slider.png' %}');">
					<div class="container">
						<div class="row">
							<div class="col-lg-7">
								<div class="text">
									<h1>We help you to start your <span>Career In Cyber-Security</span></h1>
									<p><b>ITTT Helper helps others start their careers by providing guidance, support and resources to empower them on their career journey. </b></p>
									<div class="button">
										<a href="{% url 'contact_us' %}" class="btn primary">Contact Us</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<section class="slider">
				<!-- Start Single Slider -->
				<!-- <div class="single-slider" style="background-image:url('img/slider.png')">
					<div class="container">
						<div class="row">
							<div class="col-lg-7">
								<div class="text">
									<h1>We help you to start your <span>Career In Cyber-Security</span></h1>
									<p><b>ITTT Helper helps others start their careers by providing guidance, support and resources to empower them on their career journey. </b></p>
									<div class="button">
										<a href="contact.html" class="btn primary">Contact Us</a>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div> -->
				<!-- End Single Slider -->	
			</div>
		</section>
		<!--/ End Slider Area -->
		
		<!-- Start Schedule Area -->
		<section class="schedule">
			<div class="container">
				<div class="schedule-inner">
					<div class="row">
						<div class="col-lg-4 col-md-6 col-12 ">
							<!-- single-schedule -->
							<div class="single-schedule first">
								<div class="inner">
									<div class="icon">
										<i class="icofont-education"></i>
									</div>
									<div class="single-content">
										<h4>penetration Testing</h4>
										<p>A security exercise where a cyber-security expert attempts to find vulnerabilities which attackers could take advantage of in a computer system.</p>
									</div>
								</div>
							</div>
						</div>
						<div class="col-lg-4 col-md-6 col-12">
							<!-- single-schedule -->
							<div class="single-schedule middle">
								<div class="inner">
									<div class="icon">
										<i class="icofont-education"></i>
									</div>
									<div class="single-content">
										<h4>Red Teaming</h4>
										<p>Occurs when ethical hackers are authorized by your organization to emulate real attackers (TTPs) against your own systems.</p>
									</div>
								</div>
							</div>
						</div>
						<div class="col-lg-4 col-md-12 col-12">
							<!-- single-schedule -->
							<div class="single-schedule last">
								<div class="inner">
									<div class="icon">
										<i class="icofont-education"></i>
									</div>
									<div class="single-content">
										<h4>Blue Teaming</h4>
										<p>Your organization's cybersecurity team is the primary defense against various threats, including phishing attacks and suspicious activity.</p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!--/End Start schedule Area -->

		<!-- Start Feautes -->
		<section class="Feautes section">
			<div class="container">
				<div class="row">
					<div class="col-lg-12">
						<div class="section-title">
							<h2>One effective approach is Mentorship</h2>
							<img src="{% static 'img/logo2.png' %}" alt="#">
							<p>Experienced individuals offer advice, share ideas, and serve as role models.</p>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-lg-4 col-12">
						<!-- Start Single features -->
						<div class="single-features">
							<div class="signle-icon">
								<i class="icofont icofont-education"></i>
							</div>
							<h3>Guidance and Mentorship</h3>
							<p>Mentorship can provide numerous benefits for mentors and their mentees.</p>
						</div>
						<!-- End Single features -->
					</div>
					<div class="col-lg-4 col-12">
						<!-- Start Single features -->
						<div class="single-features">
							<div class="signle-icon">
								<i class="icofont icofont-company"></i>
							</div>
							<h3>Networking Opportunities</h3>
							<p>An event that allows you to interact with business professionals to learn new skills.</p>
						</div>
						<!-- End Single features -->
					</div>
					<div class="col-lg-4 col-12">
						<!-- Start Single features -->
						<div class="single-features last">
							<div class="signle-icon">
								<i class="icofont icofont-architecture-alt"></i>
							</div>
							<h3>Skill Development</h3>
							<p>The process of improving specific skills by training to be more efficient and effective.</p>
						</div>
						<!-- End Single features -->
					</div>
				</div>
			</div>
		</section>
		<!--/ End Feautes -->

		<!-- Start Call to action -->
		<section class="call-action overlay" data-stellar-background-ratio="0.5" style="background-image:url('{% static 'img/call-bg.png' %}');">
			<div class="container">
				<div class="row">
					<div class="col-lg-12 col-md-12 col-12">
						<div class="content">
							<h2>Do you need to contact us?<a href="https://wa.me/qr/2US7ZRHCKJVCL1"> </h2>
							<h2>Call <u>+201021572715</u></h2>
							<p>You can contact us on Whatsapp, Linked-In or Facebook.</p>
							<div class="button">
								<a href="{% url 'contact_us' %}" class="btn">Contact Now</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!--/ End Call to action -->
		
		<!-- Start portfolio -->
		<section class="portfolio section" >
			<div class="container">
				<div class="row">
					<div class="col-lg-12">
						<div class="section-title">
							<h2>communication is crucial</h2>
							<img src="{% static 'img/logo2.png' %}" alt="#">
							<p>Connecting aspiring professionals with experienced professionals, fostering relationships can broaden their understanding of potential career paths.</p>
						</div>
					</div>
				</div>
			</div>
			<div class="container-fluid">
				<div class="row">
					<div class="col-lg-12 col-12">
						<div class="owl-carousel portfolio-slider">
							<div class="single-pf">
								<img src="{% static 'img/pf1.png' %}" alt="#">
							</div>
							<div class="single-pf">
								<img src="{% static 'img/pf2.png' %}" alt="#">
							</div>
							<div class="single-pf">
								<img src="{% static 'img/pf3.png' %}" alt="#">
							</div>
							<div class="single-pf">
								<img src="{% static 'img/pf4.png' %}" alt="#">
							</div>
							<div class="single-pf">
								<img src="{% static 'img/pf1.png' %}" alt="#">
							</div>
							<div class="single-pf">
								<img src="{% static 'img/pf2.png' %}" alt="#">
							</div>
							<div class="single-pf">
								<img src="{% static 'img/pf3.png' %}" alt="#">
							</div>
							<div class="single-pf">
								<img src="{% static 'img/pf4.png' %}" alt="#">
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<!--/ End portfolio -->
		
		<!-- Start service -->
		<section class="services section">
			<div class="container">
				<div class="row">
					<div class="col-lg-12">
						<div class="section-title">
							<h2>We Are Always Ready to Help You To Start Your Career In Cyber-Security</h2>
							<img src="{% static 'img/logo2.png' %}" alt="#">
							<p>Learn about cybersecurity departments and the roadmap for each of them.</p>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-lg-4 col-md-6 col-12">
						<!-- Start Single Service -->
						<div class="single-service">
							<i class="icofont icofont-company"></i>
							<h4>Mediator between students, universities and companies</a></h4>
							<p>Helping communicate with company owners and experienced people.</p>	
						</div>
						<!-- End Single Service -->
					</div>
					<div class="col-lg-4 col-md-6 col-12">
						<!-- Start Single Service -->
						<div class="single-service">
							<i class="icofont icofont-robot"></i>
							<h4>Chatbot services to serve as a student assistant</a></h4>
							<p>Student assistant to ask about any information related to cyber security.</p>	
						</div>
						<!-- End Single Service -->
					</div>
					<div class="col-lg-4 col-md-6 col-12">
						<!-- Start Single Service -->
						<div class="single-service">
							<i class="icofont icofont-bank"></i>
							<h4>Providing training and employment opportunities</a></h4>
							<p>Helping to boost individual and organizational performance.</p>	
						</div>
						<!-- End Single Service -->
					</div>
					<div class="col-lg-4 col-md-6 col-12">
						<!-- Start Single Service -->
						<div class="single-service">
							<i class="icofont icofont-prescription"></i>
							<h4>Guides for CVs and Interviews</a></h4>
							<p>Helping stand out from the crowd and secure a job interview.</p>	
						</div>
						<!-- End Single Service -->
					</div>
					<div class="col-lg-4 col-md-6 col-12">
						<!-- Start Single Service -->
						<div class="single-service">
							<i class="icofont icofont-briefcase-1"></i>
							<h4>The Virtual employment fair</a></h4>
							<p>Enableing job-seekers to quickly reach out to the employers in a virtual space.</p>	
						</div>
						<!-- End Single Service -->
					</div>
					<div class="col-lg-4 col-md-6 col-12">
						<!-- Start Single Service -->
						<div class="single-service">
							<i class="icofont icofont-presentation"></i>
							<h4>Providing Events and workshops</a></h4>
							<p>Sharing insights, experiences, and expertise.</p>	
						</div>
						<!-- End Single Service -->
					</div>
				</div>
			</div>
		</section>
		<!--/ End service -->
		
		<!-- Pricing Table -->
		
		<!-- Start Appointment -->
		
		
		<!-- Start Newsletter Area -->
		<div class="clients overlay" style="background-image: url('{% static 'img/client-bg.png' %}');">
			<div class="container">
				<div class="row">
					<div class="col-lg-12 col-md-12 col-12">
						<div class="owl-carousel clients-slider">
							<div class="single-clients">
								<img src="{% static 'img/client1.png' %}" alt="#">
							</div>
							<div class="single-clients">
								<img src="{% static 'img/client2.png' %}" alt="#">
							</div>
							<div class="single-clients">
								<img src="{% static 'img/client3.png' %}" alt="#">
							</div>
							<div class="single-clients">
								<img src="{% static 'img/client4.png' %}" alt="#">
							</div>
							<div class="single-clients">
								<img src="{% static 'img/client5.png' %}" alt="#">
							</div>
							<div class="single-clients">
								<img src="{% static 'img/client1.png' %}" alt="#">
							</div>
							<div class="single-clients">
								<img src="{% static 'img/client2.png' %}" alt="#">
							</div>
							<div class="single-clients">
								<img src="{% static 'img/client3.png' %}" alt="#">
							</div>
							<div class="single-clients">
								<img src="{% static 'img/client4.png' %}" alt="#">
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		
		
		
		
    {% endblock %}
