{% load static %}
		<!-- Get Pro Button -->
		<ul class="pro-features">
			<a class="get-pro">Get Pro</a>
			<li class="title"><big>Pro Version Features</big></li>
			<li>12-month diploma for 6000LE</li>
			<li>9-month diploma for 9000LE</li>
			<li>6-month diploma for 12000LE</li>
			<li>3-month diploma for 15000LE</li>
			<div class="button">
				<a href="#" target="_blank" class="btn">Reserve The Diploma</a>
			</div>
		</ul>
<!-- Header Area -->
		<header class="header" >
			<!-- Header Inner -->
			<div class="header-inner" style="padding-left: -150px;">
				<div class="container">
					<div class="inner">
						<div class="row" style="margin-right: -480px;">
							<div class="col-lg-3 col-md-3 col-12" style="max-width: 7.5%;">
								<!-- Start logo2 -->
								<div class="logo2">
									<a href="{% url 'home' %}"><img src="{% static 'img/logo2.png' %}" alt="logo"></a>
								</div>
								<!-- End logo2 -->
								<!-- Mobile Nav -->
								<div class="mobile-nav"></div>
								<!-- End Mobile Nav -->
							</div>
							<div class="col-lg-7 col-md-9 col-12" style="align-items: center; padding-top: 15px; font-size:20px">
								<!-- Main Menu -->
								<div class="main-menu">
									<nav class="navigation">
										<ul class="nav menu">
											<li><a href="{% url 'home' %}">Home</a></li>
											<li><a href="{% url 'courses' %}">Courses</a></li>
											<li><a href="{% url 'training' %}">Training</a></li>
											<li><a href="{% url 'path' %}">Career Path</a></li>
											<li><a href="{% url 'events' %}">Events</a></li>
											<li><a href="{% url 'cv' %}">CV</a></li>
											<li><a href="{% url 'guides' %}">Guides</a></li>
											<li><a href="{% url 'contact_us'%}">Contact Us</a></li>
											<li><a href="{% url 'feedback' %}">Feedback </a></li>
										</ul>
									</nav>
								</div>
								<!--/ End Main Menu -->
							</div>
							<div class="col-lg-2 col-12" style="align-items: center; padding-top: 12px; ">
								<div class="get-quote">
									<a href="{% url 'signup' %}" class="btn">Get Started</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!--/ End Header Inner -->
		</header>
		