{% extends 'base.html' %}
{% load static %} 

{% block body %}

    <!-- Include your top bar and navbar code here (copy from the existing code) -->
    
    <!-- Training Section Start -->
    <section class="container-fluid py-5">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 offset-lg-2">
            <h2 class="text-center text-primary mb-4">Training Programs</h2>
            <p class="text-center mb-5">
              Explore our training programs to enhance your skills and knowledge
              in the IT field.
            </p>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-4 mb-4">
            <div class="card">
              <img
              src="{% static '../static/images/blog-2.jpg'%}"
              class="card-img-top"
              alt="Training Program 1"
              />
              <div class="card-body">
                <h5 class="card-title">Web Development Bootcamp</h5>
                <p class="card-text">
                  Join our intensive web development bootcamp and learn the
                  latest technologies.
                </p>
                <a href="#" class="btn btn-primary">Learn More</a>
              </div>
            </div>
          </div>
          <div class="col-lg-4 mb-4">
            <div class="card">
              <img
              src="{% static '../static/images/blog-2.jpg'%}"
              class="card-img-top"
              alt="Training Program 2"
              />
              <div class="card-body">
                <h5 class="card-title">Data Science Workshop</h5>
                <p class="card-text">
                  Explore the world of data science and machine learning in our
                  workshop.
                </p>
                <a href="#" class="btn btn-primary">Learn More</a>
              </div>
            </div>
          </div>
          <div class="col-lg-4 mb-4">
            <div class="card">
              <img
              src="{% static '../static/images/blog-2.jpg'%}"
              class="card-img-top"
              alt="Training Program 3"
              />
              <div class="card-body">
                <h5 class="card-title">Cybersecurity Training</h5>
                <p class="card-text">
                  Enhance your cybersecurity skills and protect against cyber
                  threats.
                </p>
                <a href="#" class="btn btn-primary">Learn More</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- Training Section End -->
    
    <!-- Include your footer code here (copy from the existing code) -->
    
    <!-- Back to Top
    <a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top"
    ><i class="fa fa-angle-double-up"></i
      ></a>  -->
{% endblock %}