{% extends 'base.html' %}
{% load static %}
{% block title %}Login{% endblock %}
{% block body%}	
		<div class="breadcrumbs overlay">
			<div class="container">
				<div class="bread-inner">
					<div class="row">
						<div class="col-12">
							<h2>Loging In</h2>
							<ul class="bread-list">
								<li><a href="{% url 'home' %}">Home</a></li>
								<li><i class="icofont-simple-right"></i></li>
								<li class="active">Loging In</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
		
		<section class="appointment">
			<div class="container">
				<div class="row">
					<div class="col-lg-12">
						<div class="section-title">
							<h2>We Are Always Ready to Help You To Start Your Career In Cyber-Security</h2>
							<img src="{% static 'img/logo2.png' %}" alt="#">
							<p>Learn about cybersecurity departments and the roadmap for each of them.</p>
						</div>
					</div>
				</div>
				<div class="row">
                    {% if messages %}
        {% for message in messages %}
        <h5 style="margin-left: 1em;">{{message}}</h5>
        {% endfor %}
        {% endif %}
    <div class="col-lg-6 col-md-12 order-md-2 order-1">
        <div class="appointment-image">
            <img src="{% static 'img/login.png' %}" alt="#" style="height: 100%; margin-top: 10px;">
        </div>
    </div>
    <div class="col-lg-6 col-md-12 order-md-1 order-2">
        <div class="section-wrapper">
            <div class="row">
                    <form class="form" method="post">
						{% csrf_token %}
    <div class="row">
        <div class="col-lg-12 col-md-12 col-12"> <!-- Change the column width to span the full width -->
            <div class="form-group">
                <input name="username" type="text" placeholder="Username" style="width: 190%;"> <!-- Set width to 100% -->
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12 col-md-12 col-12"> <!-- Change the column width to span the full width -->
            <div class="form-group">
                <input name="password" type="password" placeholder="Password" style="width: 190%;"> <!-- Set width to 100% -->
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-5 col-md-4 col-12">
            <div class="form-group">
                <div class="button-group">
                &nbsp; <button type="submit" class="btn">Log In</button>
                <button type="button" class="btn"> <a href="{% url 'signup' %}">Sign Up</a></button>
                </div>
                
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12 col-md-12 col-12"> <!-- Change the column width to span the full width -->
            <p><a href="{ # }" style="color: #000000"><u>Forgot Password?</u></a></p>
        </div>
        
    </div>
</form>

            </div>
        </div>
    </div>
</div>

			
		</section>
{% endblock %}