<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
    <form action="" method="post">
        {% csrf_token %}
        
        <input type="text" name="username" id="email" placeholder="email" >
        
        <!-- <input type="text"name ="date_of_brith" placeholder="date of birth"> -->
        
        <input type="password" name="password" id="first name" placeholder="password" >
        <button type="submit">Login</button>
</body>
</html>