{% extends 'base.html' %}
{% load static %}
{% block title %}SignUp{% endblock %}
{% block body%}
<script>
function validateSignUpForm() {
    let p1= document.forms["singup_form"]["password1"].value;
    let p2 = document.forms["singup_form"]["password2"].value;
    if (p1 != p2) {
        p2.setCustomValidity("Passwords don't match");
        p2.reportValidity();
        return false;
    } else {
        p2.setCustomValidity('');
        return true
}


}</script>

<style>
    .google-signup {
    display: flex;
    justify-content: flex-start;
}

.btn-google {
    display: flex;
    align-items: center;
    background-color: #0C4257;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    font-size: 14px;
    transition: background-color 0.3s ease;
}

.btn-google:hover {
    background-color: #357ae8;
}

.google-icon {
    width: 20px;
    height: 20px;
    margin-right: 10px;
}
</style>
<div class="breadcrumbs overlay">
	<div class="container">
		<div class="bread-inner">
			<div class="row">
				<div class="col-12">
					<h2>Registration</h2>
						<ul class="bread-list">
							<li><a href="{%url 'home' %}">Home</a></li>
								<li><i class="icofont-simple-right"></i></li>
								<li class="active">Registration</li>
						</ul>
				</div>
			</div>
		</div>
	</div>
</div>
		
<section class="appointment">
			<div class="container">
				<div class="row">
					<div class="col-lg-12">
						<div class="section-title">
							<h2>We Are Always Ready to Help You To Start Your Career In Cyber-Security</h2>
							<img src="{% static 'img/logo2.png' %}" alt="#">
							<p>Learn about cybersecurity departments and the roadmap for each of them.</p>
						</div>
					</div>
				</div>
				<div class="row">
	<div class="col-lg-6 col-md-12 order-md-2 order-1">
        <div class="appointment-image">
            <img src="{% static 'img/register.png' %}" alt="#" style="height: 100%; margin-top: 60px;">
        </div>
    </div>
    <div class="col-lg-6 col-md-12 order-md-1 order-2">
        <div class="section-wrapper">
            <div class="row">
		{% if messages %}
        {% for message in messages %}
        <h6 style="margin-left: -1em;">{{message}}</h6>
        {% endfor %}
        {% endif %}
				<form name ="singup_form" class="form" method="post" onsubmit="return validateSignUpForm()">
						{% csrf_token %}
							<div class="row">
								<div class="col-lg-6 col-md-6 col-12">
									<div class="form-group">
										<input name="first_name" type="text" placeholder="First Name" required>
									</div>
								</div>
								<div class="col-lg-6 col-md-6 col-12">
									<div class="form-group">
										<input name="last_name" type="text" placeholder="Last Name" required>
									</div>
								</div>
								<div class="col-lg-6 col-md-6 col-12">
									<div class="form-group">
										<input name="email" type="email" placeholder="Email" required>
										</div>
								</div>
								<div class="col-lg-6 col-md-6 col-12">
									<div class="form-group">
										<input name="username" type="text" placeholder="Username" min = "4" required>
										</div>
										</div>
										<div class="col-lg-6 col-md-6 col-12">
											<div class="form-group">
												<input name="phone" type="text" placeholder="Phone">
												</div>
												</div>
									<div class="col-lg-6 col-md-6 col-12">
									<div class="form-group">
										<input name="password1" type="password" placeholder="Password" required>
										</div>
									</div>
									<div class="col-lg-6 col-md-6 col-12">
									<div class="form-group">
										<input name="password2" type="password" placeholder="Confirm Password" required >
									</div>
									</div>
									<div class="col-lg-6 col-md-6 col-12">
									<div class="form-group">
										<label for="is_company">Company User</label>
										<input name="is_company" id="is_company" type="checkbox" >
									</div>
									</div>
									<!-- <div class="col-lg-6 col-md-6 col-12">
									<div class="form-group">
										<input name="position" type="text" placeholder="Position">
									</div>
								</div> -->
										<!-- <div class="col-lg-6 col-md-6 col-12">
											<div class="form-group">
												<input name="confirm_password" type="password" placeholder="Confirm Password">
												</div> -->
													<!-- <div class="col-lg-6 col-md-6 col-12">
														<div class="form-group">
															<div class="nice-select form-control wide" tabindex="0"><span class="current">Position</span>
																<ul class="list">
																	<li data-value="2" class="option">Employer</li>
																	<li data-value="3" class="option">College Student</li>
																	<li data-value="4" class="option">Fresh Graduate Student</li>
																</ul>
															</div>
														</div>
													</div> -->
							</div>
							<div class="row">
							<div class="col-lg-5 col-md-4 col-12">
							<div class="form-group">
							<div class="button-group">
                <!-- <button type="reset" class="btn">Reset</button> -->
				<button type="submit" class="btn">Sign Up</button>
            </div>
        </div>
    </div>
    <div class="col-lg-7 col-md-8 col-12">
        <p><small>(We will be confirm by an Text Message)</small></p>
    </div>
	<div class="col-lg-12 col-md-12 col-12"  style="Color: #fff;">
		<div class="google-signup">
			<a href="https://accounts.google.com/signup" class="btn btn-google">
				<img src="{% static 'img/download.png' %}" alt="Log In With Google" class="google-icon">
				<span>Signup With Google</span>
			</a>
		</div>
	</div>
	<p>Already have an account?<a href ="{% url 'login' %}" style="color: #000000">  <u>Login</u></p>
</div>
</section>


						</form>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
			
		