<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="" method="post">
        {% csrf_token %}
        <input type="text" name="first_name" id="first name" placeholder="first name">
        <input type="text" name="last_name" id="last name" placeholder="last name">
        <input type="email" name="email" id="email" placeholder="email" >
        <input type="text" name="phone_number" id="number" placeholder="number">
        <!-- <input type="text"name ="date_of_brith" placeholder="date of birth"> -->
        <input type="text" name="username" id="first name" placeholder="username">
        <input type="password" name="password" id="first name" placeholder="password" >
        <button type="submit">Signup</button>
    </form>
</body>
</html>